.page-item.active .page-link{
    background-color: #343a40 !important;
    border-color: #000000 !important;
    color:#cccccc !important;
}
.page-link{
    color:#212529 !important;
}
.page-link:focus{
    box-shadow: #212529 !important;
}
.iconfunction{
    font-size: 20px;
}
.iconadd{
    color:#212529; 
    font-size:40px
}
a{
    color: #212529 !important;
}
.btn-primary{
    background-color: #212529 !important;
    border-color: #212529 !important;
}